* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.game {
  width: 600px;
  padding: 80px 30px 30px 30px;
  position: relative;
  background-color: #333333;
  color: #f5f5f5;
  font-size: 34px;
  font-weight: bold;
  font-family: sans-serif;
}

.timer {
  position: absolute;
  top: 20px;
  left: 30px;
}

.errors {
  position: absolute;
  top: 20px;
  right: 30px;
}

.word-view {
  text-align: center;
}

.correct {
  background-color: #1bd04c;
}

@media (max-width: 600px) {
  body {
    background-color: #333333;
  }
}

@media (max-width: 460px) {
  .game {
    padding: 30px;
  }

  .timer,
  .errors {
    position: static;
    text-align: center;
  }

  .word-view {
    margin-top: 20px;
  }
}
